 <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
         <a class="nav-link" href="/add-user">Add user <span class="sr-only"></span></a>
     </li>
     <li class="nav-item active">
         <a class="nav-link" href="/activity">Activity<span class="sr-only"></span></a>
     </li>
     <li class="nav-item active">
         <a class="nav-link" href="/users-list">All users<span class="sr-only"></span></a>
     </li>
 </ul>